/* ---------------------------------------------
	LASTFM.CSS
-----------------------------------------------*/

#lastfm dl{
	margin-left: 2px;
	margin-bottom: 20px;
	margin-right: 20px;
	margin-top: 0;
	padding-left: 70px;
	padding-bottom: 8px;
	padding-right: 8px;
	padding-top: 8px;
	position:relative;
	float:left;
	width: 100px;
	height:64px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border:solid 0px #333;
	}
#lastfm dl:hover,
#lastfm dl.hover{
	padding:7px 7px 7px 79px;
	border:solid 0px #444;
	cursor:pointer;
	}
#lastfm dl:hover dt,
#lastfm dl.hover dt{
	left:7px;
	top:7px;
	}

#lastfm dl dt{
	position:absolute;
	left:8px;
	top:8px;
	width:64px;
	height:64px;
	}
#lastfm dl dt a{
	position:absolute;
	top:0;
	left:0;
	width:64px;
	height:64px;
	z-index:100;
	}
#lastfm dl dt a:hover{
	background:none;
	}

#lastfm dl dd.lfm_song{
	color: #3b1412;
	font-weight:bold;
	font-size: 10px;
	padding-bottom:6px;
	white-space:nowrap;
	overflow:hidden;
	}
#lastfm dl dd.lfm_artist,
#lastfm dl dd.lfm_album{
	font-size: 10px;
	color:#3b1412;
	}
